<!doctype html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>nguyenkhacdung.github.io by NGUYEN Khac-Dung</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[endif]-->
    <!--https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700-->
  </head>

    <div class="wrapper">
      <header>
        <h1>Cảnh giác Dược (canhgiacduoc.github.io)</h1>

        <p>Chia sẻ kinh nghiệm R - Rmarkdown - Latex</p>

        <p class="view"><a href="https://github.com/canhgiaduoc">View the Project on GitHub <small>NGUYEN Khac-Dung</small></a></p>
        <ul>
          <li class="single"><a href="https://github.com/canhgiaduoc/canhgiaduoc.github.io">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      
<body>

<p>  This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>


<!--begin.rcode
summary(cars)
end.rcode-->


<p> tiền </p>

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>



